---
import Layout from '../../layouts/Layout.astro';
import SectionContainer from '../../components/SectionContainer.astro';

import Hero from '../../components/Hero.astro';
import TimeLine from '../../components/TimeLine.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import LastPosts from '../../components/LastPosts.astro';
import MapGallery from '../MapGallery.astro';

import { IconFileDescription, IconHammer, IconMapHeart, IconNotification } from '@tabler/icons-react';

import { getI18N } from '../../i18n/index.ts';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE}>
    <main class="px-4">
        <SectionContainer class="">
            <Hero />
        </SectionContainer>
        <SectionContainer id={i18n.HEADER.NAVBAR.ABOUT} class="pt-6">
            <About />
        </SectionContainer>
        <SectionContainer id={i18n.HEADER.NAVBAR.EXPERIENCE} class="pt-6">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    {i18n.HEADER.NAVBAR.EXPERIENCE}
                </span>
                <IconFileDescription width={32} height={32} />
            </h2>
            <TimeLine />
        </SectionContainer>
        <SectionContainer id={i18n.HEADER.NAVBAR.PROJECTS} class="pt-6 mt-0">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    {i18n.HEADER.NAVBAR.PROJECTS}
                </span>
                <IconHammer width={32} height={32} />
            </h2>
            <Projects />
        </SectionContainer>
        <SectionContainer id={i18n.HEADER.NAVBAR.MAPS} class="pt-6 mt-0">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    {i18n.HEADER.NAVBAR.MAPS}
                </span>
                <IconMapHeart width={32} height={32} />
            </h2>
            <MapGallery />
        </SectionContainer>
        <!-- <SectionContainer class="pt-6 mt-6">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold"> {i18n.HEADER.NAVBAR.LAST_POSTS} </span>
                <IconNotification width={32} height={32} />
            </h2>
            <LastPosts />
        </SectionContainer> -->
    </main></Layout
>
