---
import { IconLink, IconTools } from '@tabler/icons-react';
import { getI18N } from '../i18n/index.ts';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const dataProjects = i18n.SECTION_PR.PROJECTS.map((project: any) => ({
    title: project.TITLE,
    description: project.DESCRIPTION,
    techs: project.TECHNOLOGIES,
    image: project.IMAGE,
    link: project.URL,
    dev: project.DEVELOPMENT,
}));
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
        dataProjects.map((project: any) => (
            <article class="bg-white/10 rounded-lg overflow-hidden shadow transition-all hover:shadow-xl hover:scale-[1.02] flex flex-col">
                <div class="relative h-48">
                    <img src={project.image} alt={project.title} class="object-cover w-full h-full" />
                    <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent" />
                    {project.link && (
                        <a
                            href={project.link}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="absolute top-2 right-2 text-white bg-yellow-600/40 p-1 rounded-full transition-colors shadow-xl hover:bg-white/40 hover:text-yellow-600 flex-shrink-0"
                        >
                            <IconLink />
                        </a>
                    )}
                    <div class="absolute bottom-2 left-2 right-2 flex justify-center items-end">
                        <h3 class="text-sm text-center font-semibold leading-tight line-clamp-2 hover:line-clamp-none transition-all duration-300 text-white">{project.title}</h3>
                    </div>
                </div>
                <div class="p-4 flex-grow flex flex-col justify-between">
                    <div>
                        <p class="text-sm mb-3 line-clamp-6 text-white hover:line-clamp-none transition-all duration-600">{project.description}</p>
                    </div>
                    <div>
                        <div class="flex flex-wrap justify-center gap-1 mb-2">
                            {project.techs.map((tech: string) => (
                                <span class="text-xs bg-yellow-200/30 text-gray-100 rounded-md px-2 py-0.5">{tech}</span>
                            ))}
                        </div>
                        {project.dev && (
                            <div class="flex items-center text-yellow-300 text-xs mt-2">
                                <IconTools />
                                <span>In Development</span>
                            </div>
                        )}
                    </div>
                </div>
            </article>
        ))
    }
</div>
