---
// import { pwaInfo } from 'virtual:pwa-info';

import { ViewTransitions } from 'astro:transitions';
import { Image } from 'astro:assets';
import { rootImages } from '../utils/images';
// import Achievement from "@/components/Achievement.astro"
import Header from '../../src/components/Header.astro';
import Footer from '../../src/components/Footer.astro';
import ScrollToTopButton from '../../src/components/ScrollTopBtn';
import { getI18N } from '../i18n/index.ts';
import '../styles/earth.css';

interface Props {
    title: string;
}

const { title } = Astro.props;

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!doctype html>
<html lang="es" class="dark">
    <head>
        <title>{title}</title>

        <meta name="title" content={title} />
        <meta charset="UTF-8" />
        <meta name="description" content={i18n.SEO_DESCRIPTION} />
        <meta name="keywords" content="" />
        <meta name="author" content="Gerard" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href={rootImages.logo.src} />
        <meta name="generator" content={Astro.generator} />

        <meta name="url" content="" />
        <meta name="audience" content="all" />
        <meta name="language" content="Spanish" />
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="7 days" />
        <meta name="theme-color" content="#21272a" />

        <ViewTransitions />
        <script defer src="https://umami.georard.dev/script.js" data-website-id="e268ead9-45c7-40ce-b9bf-fab1a8795013"></script>
    </head>

    <body class="relative bg-neutral-950 text-white selection:bg-purple-200/20 selection:text-gray-400">
        <div class="relative min-h-screen">
            <div class="fixed inset-0 w-full h-full z-0">
                <Image src={rootImages.background} alt="background" class="h-full w-full object-cover opacity-40" />
                <div class="absolute inset-0 bg-gradient-to-b from-black/80 via-neutral-950/60 to-neutral-950/90 backdrop-blur-[2px]"></div>
            </div>
            <div class="relative z-10" id=`${i18n.HEADER.NAVBAR.HOME}`>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <Header />
                </div>

                <slot />

                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <Footer />
                    <ScrollToTopButton client:load />
                </div>
            </div>
        </div>
        <style is:global>
            @font-face {
                font-family: 'mona-sans';
                src:
                    url('/fonts/Mona-Sans.woff2') format('woff2'),
                    url('/fonts/Mona-Sans.ttf') format('truetype');
            }

            :root {
                --accent: 136, 58, 234;
                --accent-light: 224, 204, 250;
                --accent-dark: 49, 10, 101;
                --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
                --primary: #3b82f6;
                --primary-dark: #2563eb;
            }

            html {
                font-family: mona-sans, system-ui, sans-serif;
                scroll-behavior: smooth;
                background: #0a0a0a;
                color-scheme: dark light;
            }

            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                letter-spacing: -0.01em;
            }

            .text-primary {
                color: var(--primary);
            }

            ::-webkit-scrollbar {
                width: 6px;
            }

            ::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.1);
            }

            ::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 3px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.2);
            }

            @keyframes swipe-out {
                from {
                    transform: translateY(calc(var(--lift) * var(--offset) + var(--swipe-amount)));
                    opacity: 1;
                }

                to {
                    transform: translateY(calc(var(--lift) * var(--offset) + var(--swipe-amount) + var(--lift) * -100%));
                    opacity: 0;
                }
            }

            .loader {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: center;
                transition:
                    opacity 200ms,
                    transform 200ms;
            }

            .loader[data-visible='false'] {
                opacity: 0;
                transform: scale(0.8) translate(-50%, -50%);
            }

            code {
                font-family:
                    Menlo,
                    Monaco,
                    Lucida Console,
                    Liberation Mono,
                    DejaVu Sans Mono,
                    Bitstream Vera Sans Mono,
                    Courier New,
                    monospace;
            }
        </style>
    </body>
</html>
